:root {
  --primary-color: #5540fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eee;
}

section {
  width: 100%;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.section-padding {
  padding-top: 5rem;
}

// ICON STYLE
.social-icon {
  font-size: 3rem;
  color: black;
  transition: all 0.3 ease;
}

.social-icon:hover {
  color: var(--primary-color);
}

// BUTTON STYLE
.btn-1 {
  background-color: var(--primary-color);
  padding: 0.5rem 2rem;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-1:hover {
  color: var(--primary-color);
  background-color: white;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
}

// NAVBAR
.navbar-toggler {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  height: 2.5rem;
  width: 3rem;
  padding: 0;
}
.navbar {
  background-color: var(--primary-color);
  padding: 1.2rem 0;
  transition: all 0.3s ease;

  .navbar-brand {
    font-family: "Dancing Script", cursive;
    color: white;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .nav-item {
    margin-left: 1rem;
  }
  .nav-item .nav-link {
    color: white;
    margin: 0 0.6rem;
    position: relative;
  }
}
.navbar-shrink {
  padding: 0.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.2s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link:hover:before {
  transform: scale(1);
}

.navbar-nav {
  letter-spacing: 0.3em;
  font-weight: 600;
}
// HOME

#home {
  h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }
  p:nth-child(1) {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    // padding-top: 2.5rem;
  }

  p:nth-child(3) {
    font-size: 1.2rem;
    padding-top: 20px;
    font-weight: 300;
  }

  h2 span {
    color: var(--primary-color);
  }

  .img-home {
    max-width: 500px;
    width: 100%;
  }

  .home-text .home-btn {
    margin: 1rem 0;

    .home-btn-icon {
      padding-right: 0.5rem;
    }
  }
}

// ABOUT
#about {
  background-color: #c3c3c3;
  border-radius: 0 0 200px 0;

  .about-header {
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  p:nth-child(1) {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
  }

  p:nth-child(3),
  p:nth-child(4),
  p:nth-child(5) {
    font-size: 1.2rem;
    padding-top: 20px;
    margin-bottom: 0.5rem;
  }

  h2 span {
    color: var(--primary-color);
  }

  .img-about {
    max-width: 500px;
    width: 100%;
  }

  .hobby-card {
    height: 6rem;
    width: 8rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    transition: all 0.3s ease;
  }

  .hobby-card:hover {
    transform: scale(1.1);
  }

  .hobby-item {
    font-size: 2rem;
    padding-bottom: 0.8rem;
  }
}

// SKILLS
.skill-img {
  background-image: url(/image/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 0 200px 0 0;
  position: relative;
  z-index: 1;
}

.skill-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}
#skills {
  .header {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;

    span {
      color: var(--primary-color);
    }
  }

  .skill-carousel .skill-item {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
    color: white;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
  }

  .skill-carousel .skill-item i {
    font-size: 5rem;
  }
  .skill-carousel .skill-item h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .img-skill {
    margin: 2rem auto;
    max-width: 600px;
    width: 100%;
  }

  .skill-item h2 {
    margin: 0;
    padding: 1rem 0 0;
  }
}

// CONTACT
#contact {
  h2 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }
  h2 span {
    color: var(--primary-color);
  }
  .contact-info-item {
    padding: 1rem 0;
  }
  .contact-info h2 {
    font-size: 2rem;
  }
  .contact-info-text h3 {
    font-size: 1.5rem;
  }
  .contact-info-icon {
    font-size: 1.5rem;
    padding: 0 2rem;
    color: var(--primary-color);
  }

  .contact-form-item {
    padding: 1rem;
  }

  .form-floating {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    overflow: hidden;
  }
}

// Footer
.footer {
  background-color: var(--primary-color);
  padding-top: 2.5rem;

  .copyright-text {
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

//  Custom Breakponts
// @media (max-width: 1200px) {
//   .img-about {
//     padding-top: 5rem;
//   }
// }
@media (max-width: 992px) {
  .navbar-nav {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  }

  .navbar-toggler {
    margin-bottom: 1rem;
  }

  .navbar .nav-item {
    margin: 0;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 768px) {
  #home p:nth-child(1) {
    padding-top: 6rem;
  }

  #about h2 {
    padding-top: 1rem;
  }
}

// @media (max-width: 576px) {
//   #home p:nth-child(1) {
//     padding-top: 1rem;
//   }
// }
